.shirt-preview {
  position: relative;
  width: 400px;
  height: 500px;
  background: rgba(255, 0, 0, 0.2);
  border: 2px solid red;
}

.shirt-image {

  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}

.design-image {
  position: absolute;
  width: 140px;
  cursor: grab;
  user-select: none;
}
.saved-designs {
  margin-top: 100px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.saved-design-preview {
  position: relative;
  width: 200px;
  height: 250px;
  overflow: hidden;
}

.preview-shirt {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.preview-image {
  position: absolute;
  user-select: none;
}
